@model System.Collections.Generic.IEnumerable<StockAnalyzer.Core.Domain.StockPrice>

<h2>Stock prices for @ViewBag.Title</h2>

<p>
    <strong>Data provided for free by <a href="https://iextrading.com/developer/">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use.</a></strong>
</p>

<table width="100%">
    <thead>
        <tr>
            <th>Identifier</th>
            <th>Volume</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stockPrice in Model)
        {
            <tr>
                <td>
                    @stockPrice.Identifier
                </td>
                <td>
                    @stockPrice.Volume
                </td>
            </tr>
        }
    </tbody>
</table>
